In [1]:
import pandas as pd
import sqlite3

# 1. Wczytanie danych
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# 2. Połączenie z bazą SQLite (plik titanic.db zostanie utworzony)
conn = sqlite3.connect("titanic.db")

# 3. Zapis danych do tabeli 'passengers'
df.to_sql("passengers", conn, if_exists="replace", index=False)

# 4. Testowe zapytanie SQL (opcjonalnie)
result = pd.read_sql_query("SELECT * FROM passengers LIMIT 5;", conn)
print(result)

# 5. Zamknięcie połączenia
conn.close()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500  None        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250  None        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  None        S